@model MagicDish.Web.ViewModels.FridgeContentViewModel

<form method="post">
    <div>
        <div class="row pb-2">
            <h2 class="text-primary">Add new product to your fridge</h2>
        </div>
        <div class="m-3">
            <label asp-for="ProductCategory"></label>
            <select asp-for="ProductCategory" asp-items="Model.ProductCategoriesDropdown" class="form-control"></select>
        </div>
        <div class="m-3" style="display: none" id="ProductNameDiv">
            <label asp-for="ProductName"></label>
            <select asp-for="ProductName" asp-items="Model.ProductsDropdown" class="form-control"></select>
        </div>
        <div class="m-3" style="display: none" id="AmountDiv">
            <label asp-for="Amount"></label>
            <input asp-for="Amount" class="form-control" />
        </div>
        <div class="m-3" style="display: none"  id="UnitOfMeasureDiv">
            <label asp-for="UnitOfMeasure"></label>
            <input asp-for="UnitOfMeasure" asp-items="Model.UnitsOfMeasureDropdown" class="form-control" readonly/>
        </div>
        <br />
        <button type="submit" class="btn btn-primary" style="width:200px">Add Product</button>
        <a asp-controller="FridgeContent" asp-action="Index" class="btn btn-secondary" style="width:200px">
            Back to your fridge
        </a>
    </div>
</form>


<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $("#ProductCategory").append("<option selected disabled>--- SELECT ---</option>");

    $("#ProductCategory").change(function(){
        var value = $(this).val();

        $("#ProductNameDiv").css("display", "block");

        $.post("@Url.Action("SetDropdownList")", { value: value }, function (data) {
            PopulateDropDown("#ProductName", data);
        })
    })

    $("#ProductName").change(function() {
        var value1 = $(this).val();
        
        $("#AmountDiv").css("display", "block");
        $("#UnitOfMeasureDiv").css("display", "block");
        
        $.post("@Url.Action("SetUnitOfMeasure")", { value: value1 }, function (data1) {
            PopulateUnitField("#UnitOfMeasure", data1);
        })
    })

    function PopulateDropDown(dropDownId, list) {
        $(dropDownId).empty();
        $(dropDownId).append("<option selected disabled>--- SELECT ---</option>");
        $.each(list, function (index, row) {
            $(dropDownId).append("<option>" + row + "</option>");
        });
    }

    function PopulateUnitField(fieldId, string) {
        $(fieldId).empty();
        $(fieldId).val(string);
    }
</script>