@model MagicDish.Web.ViewModels.FridgeProductViewModel

<form method="post" asp-action="Edit">
    <div>
        <div class="row pb-2">
            <h2 class="text-primary">Edit the amount of the product</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="m-3">
            <label asp-for="ProductCategory"></label>
            <input asp-for="ProductCategory" asp-items="Model.ProductCategory" class="form-control" readonly />
        </div>
        <div class="m-3" id="ProductNameDiv">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" asp-items="Model.ProductName" class="form-control" readonly />
        </div>
        <div class="m-3" id="AmountDiv">
            <label asp-for="Amount"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="m-3" id="UnitDiv">
            <label asp-for="Unit"></label>
            <input asp-for="Unit" asp-items="Model.Unit" class="form-control" readonly />
            <span asp-validation-for="Unit" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary" style="width:200px">Save</button>
        <a asp-controller="FridgeContent" asp-action="Edit" class="btn btn-secondary" style="width:200px">
            Back to your fridge
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

