@using MagicDish.Web.ViewModels
@model List<RecipeViewModel>


@{
    ViewData["Title"] = "Recipe";
}

<h1>Let's browse recipes based on your fridge content!</h1>


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Recipe Title
            </th>
            <th>
                Products found in the fridge
            </th>
            <th>
                Link to the recipe
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td width="18%">
                    @prod.Name
                </td>
                <td width="18%">
                    @prod.Ingredients.ToList();
                </td>
                <td width="18%">
                    @prod.RecipeExternalLink
                </td>
            </tr>
        }
    </tbody>
</table>

@*    <div class="row pt-4">
        <div class="col-6">
            <h4>Your fridge is empty</h4>
            <h4>Before searching for recipec you must add at least one product to your fridge</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="FridgeContent" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i> &nbsp; Add new product</a>
        </div>
    </div>*@
