@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center">
        <h1 class="display-4">Welcome to your fridge!</h1>
        <h2 class="display-6">Let's see what's for dinner</h2>
        <br />
        @if (!SignInManager.IsSignedIn(User))
        {
            <text>Login to explore your fridge and dinner options</text>

            <div>
                <a asp-area="Identity" class="btn btn-light" asp-page="/Account/Register">Register</a>
            </div>
            <br />

            <text>Register if you're a first time user</text>

            <div>
                <a asp-area="Identity" class="btn btn-light" asp-page="/Account/Login">Login</a>
            </div>
        }
    </div>
</div>
